This tool is designed to run on Kali Linux.

# Dependencies
You need to install the following Python libraries:

'pywhatkit' & 'pandas' to work .


# Installation
NOTE=> in Kali Linux These are Pre-installed. If not, Then:

open terminal and give below commands :

Step 1: Install Python 3 and pip (if not already installed)

sudo apt update
sudo apt install python3 python3-pip

Step 2: install the modules.

sudo apt update
pip install pywhatkit --break-system-packages
sudo apt install python3-pandas 

(if it shows unable to locate package then just close the terminal its pre-installed means u can run the script)

( Now close the terminal and open new one to run the tool )
